{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}

{% block body %}
<div class="main">
<table id="bldg-table" class="table">
    <tbody>
        {% for bldg in buildings %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <th scope="row">{{bldg}}</th>
            <td>
                <a class="btn btn-primary" href="{{url_for('device.index_view',building=bldg)}}" role="button">View Devices</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}