{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='demo.js') }}"></script>
{% endblock %}
{% block title %}
Add Devices
{% endblock %}

{% block body %}
<form action ="{{url_for('device.create_device')}}" name = "addForm" method = 'post' >
    <div class = "row">
        <div class="col">
        <label for = "building" >Building</label>
        </div>
        <div class="col">
        <input id = "building" name = "building" list = "buildings" required autofocus placeholder = "Choose Building" >
        </div>
    </div>
    <div class = "row">
        <div class="col">
        <label for = "ipaddress" >IP Address</label>
        </div>
        <div class="col">
            <input id = "ipaddress" name = "ipaddress" type = text required placeholder = "Enter IP Address">
        </div>
        </div>
    <div class = "row">
        <div class="col">
        <label for = "snmpstr" >SNMP String</label>
        </div>
        <div class="col">
        <input id = "snmpstr" name = "snmpstr" type = text required placeholder = "Enter SNMPv2 Comm Str">
        </div>
    </div>
    <div class = "row">
        <div class="col">
        <label for = "descr" >Description</label>
        </div>
        <div class="col">
        <input id="descr" name = "descr" type = text required placeholder = "Enter Description">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" id="submit-btn"
            onClick = "ValidateIPaddress(document.getElementById('ipaddress').value)">Submit</button>
</form>
{% endblock %}