{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='demo.js') }}"></script>
{% endblock %}
{% block title %}
Delete Device
{% endblock %}

{% block body %}
<form name = "deleteForm" method="post">
    <label for = "ipaddress">IP Address</label>
    <input name ="ipaddress" id = "ipaddress" type = "text" autofocus required>
    <button type="submit" class="btn btn-primary"
            onClick = "ValidateIPaddress(document.getElementById('ipaddress').value)">
        Submit</button>
</form>
{% endblock %}