{% extends "layout.html" %}

{% block title %}
View Devices
{% endblock %}

{% block body %}
<table class="table table-bordered">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Building</th>
        <th scope="col">IP Address</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{device.get("building")}}</td>
            <td>
                <a href="{{ url_for('fetch_interface',building =device.get('building'),ip=device.get('ip')) }}">
                    {{device.get("ip")}}</a>
            </td>
            <td>{{device.get("description")}}</td>
            {% if device.get("is_alive") %}
            <td>Alive</td>
            {% else %}
            <td>Dead</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}