{% extends "layout.html" %}
{% block head %}
<meta http-equiv="refresh" content="120;">
{% endblock %}
{% block title %}
View Devices
{% endblock %}

{% block body %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Building</th>
            <th scope="col">IP Address</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope ="col">Interfaces</th>
            <th scope ="col">VLAN</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{device.get("building")}}</td>
            <td>{{device.get("ip")}}</td>
            <td>{{device.get("description")}}</td>
            {% if device.get("is_alive") %}
            <td>Online</td>
            <td>
                <a class="btn btn-primary" href="{{url_for('fetch_interface',building =device.get('building'),
                ip=device.get('ip'))}}" role="button">View Interfaces</a>
            </td>
            <td>
                <a class="btn btn-primary" href="{{url_for('fetch_vlan',building =device.get('building'),
                ip=device.get('ip'))}}" role="button">View VLANs</a>
            </td>
            {% else %}
            <td>Offline</td>
            <td></td>
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}