{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/menubar.css">
<script>

</script>
{% endblock %}
{% block title %}
Home Page
{% endblock %}

{% block body %}
<div class="topnav">
<a href="{{url_for('view_devices')}}">View Device</a>
<a href = "{{url_for('add_devices')}}" >Add Device</a>
<a href="{{url_for('update_devices')}}">Update Device</a>
<a href="{{url_for('delete_devices')}}">Delete Device</a>
</div>
<div class="main">
<table>

</table>
</div>
{% endblock %}