{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='updateForm.js') }}"></script>
{% endblock %}
{% block title %}
Update Device
{% endblock %}

{% block body %}
<form  id = "modifyForm" method = 'post' >
<!--    <p>Mark the fields you wish to change</p>-->
    <div class = "row">
        <div class="col">
        <label for = "curr_building" >Current Building</label>
        </div>
        <div class="col">
        <input id = "curr_building" name = "curr_building" type ="text" placeholder = "Current Building">
        </div>
    </div>
    <div class = "row">
        <div class="col">
        <label for = "curr_ipaddress" >Current IP Address</label>
        </div>
        <div class="col">
            <input id = "curr_ipaddress" name = "curr_ipaddress" type = text placeholder = "Current IP Address" >
        </div>
        </div>
    <div class = "row">
        <div class="col">
<!--            <input type="checkbox" id="cbox_bldg" name ="cbox_bldg">-->
        <label for = "new_building" >New Building</label>
        </div>
        <div class="col">
        <input id = "new_building" name = "new_building" type ="text" placeholder = "New Building">
        </div>
    </div>
    <div class = "row">
        <div class="col">
<!--            <input type="checkbox" id="cbox_ip" name ="cbox_ip">-->
        <label for = "new_ipaddress" >new IP Address</label>
        </div>
        <div class="col">
            <input id = "new_ipaddress" name = "new_ipaddress" type = text placeholder = "New IP Address">
        </div>
        </div>
    <div class = "row">
        <div class="col">
<!--            <input type="checkbox" name="cbox_snmp" id="cbox_snmp">-->
        <label for = "snmpstr" >SNMP String</label>
        </div>
        <div class="col">
        <input id = "snmpstr" name = "snmpstr" type = text placeholder = "Enter SNMPv2 Comm Str">
        </div>
    </div>
    <div class = "row">
        <div class="col">
<!--            <input type="checkbox" name="cbox_descr" id="cbox_descr">-->
        <label for = "descr" >Description</label>
        </div>
        <div class="col">
        <input id="descr" name = "descr" type = text placeholder = "Enter Description">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}