{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='demo.js') }}"></script>
{% endblock %}
{% block title %}
Update Device
{% endblock %}

{% block body %}
<form action ="{{url_for('process_update')}}" id = "modifyForm" method = 'post' >
    <div class = "row">
        <div class="col">
        <label for = "current_building" >Current Building</label>
        </div>
        <div class="col">
        <input id = "current_building" name = "current_building" list = "buildings" required autofocus
               placeholder = "Current Building">
        </div>
    </div>
    <div class = "row">
        <div class="col">
        <label for = "current_ip" >Current IP Address</label>
        </div>
        <div class="col">
            <input id = "current_ip" name = "current_ip" type = text" required placeholder = "Current IP Address">
        </div>
        </div>
    <div class = "row">
        <div class="col">
        <label for = "building" >New Building</label>
        </div>
        <div class="col">
        <input id = "building" name = "building" list = "buildings" placeholder = "New Building">
        </div>
    </div>
    <div class = "row">
        <div class="col">
        <label for = "ip" >new IP Address</label>
        </div>
        <div class="col">
            <input id = "ip" name = "ip" type = "text" placeholder = "New IP Address">
        </div>
        </div>
    <div class = "row">
        <div class="col">
        <label for = "community_string" >SNMP String</label>
        </div>
        <div class="col">
        <input id = "community_string" name = "community_string" type = "text" placeholder = "Enter SNMPv2 Comm Str">
        </div>
    </div>
    <div class = "row">
        <div class="col">
        <label for = "description" >Description</label>
        </div>
        <div class="col">
        <input id="description" name = "description" type = "text" placeholder = "Enter Description">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" onClick = "ValidateIPaddress(document.getElementById('ip').value)">
        Submit</button>
</form>
{% endblock %}