{% extends "layout.html" %}
{% block head %}
<meta http-equiv="refresh" content="60";>
<script src="{{ url_for('static', filename='demo.js') }}"></script>
{% endblock %}
{% block title %}
View Devices
{% endblock %}

{% block body %}
<form name ="viewForm" action ="{{url_for('display_devices')}}" method = "POST">
  <div class = "row">
        <div class="col">
        <label for = "building" >Building</label>
        </div>
        <div class="col">
        <input id = "building" name = "building" list = "buildings" required autofocus placeholder = "Choose Building" >
        </div>
    </div>
    <div class = "row">
        <div class="col">
        <label for = "ipaddress" >IP Address</label>
        </div>
        <div class="col">
            <input id = "ipaddress" name = "ipaddress" type = text  placeholder = "Enter IP Address">
        </div>
        </div>
  <button type="submit" class="btn btn-primary">
      Submit</button>
</form>
{% endblock %}