{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}
View Devices
{% endblock %}

{% block body %}
<form name ="viewForm" action ="{{url_for('display_devices')}}" method = "POST">
  <div class = "row">
        <div class="col">
        <label for = "building" >Building</label>
        </div>
        <div class="col">
        <input id = "building" name = "building" list = "buildings" placeholder = "Choose Building" >
        <datalist id = "buildings">
            <option value = "LHTC">
            <option value = "CC">
            <option value = "Halls">
        </datalist>
        </div>
    </div>
    <div class = "row">
        <div class="col">
        <label for = "ipaddress" >IP Address</label>
        </div>
        <div class="col">
            <input id = "ipaddress" name = "ipaddress" type = text placeholder = "Enter IP Address">
        </div>
        </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}