{% extends "layout.html" %}

{% block title %}
Interface Details of {{ device["ip"] }}
{% endblock %}

{% block body %}
    <table id="device_tbl" class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">Building</th>
                <td>{{device["building"]}}</td>
            </tr>
            <tr>
                <th scope="row">IP Address</th>
                <td>{{ device["ip"] }}</td>
            </tr>
        </tbody>
    </table>

    <table id="interface_tbl" class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Index</th>
                <th scope="col">Description</th>
                <th scope="col">Physical Address</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
                {% for i in range(0,(interfaces["interfaces"]| length)) %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ interfaces["interfaces"][i]["if_index"] }}</td>
                <td>{{ interfaces["interfaces"][i]["if_description"] }}</td>
                <td>{{ interfaces["interfaces"][i]["if_physical_add"] }}</td>
                <td>{{ interfaces["interfaces"][i]["if_status"] }}</td>
            </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}


