{% extends "layout.html" %}

{% block title %}
VLAN Details of {{ device["ip"] }}
{% endblock %}

{% block body %}
    <table id="device_tbl" class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">Building</th>
                <td>{{device["building"]}}</td>
            </tr>
            <tr>
                <th scope="row">IP Address</th>
                <td>{{ device["ip"] }}</td>
            </tr>
        </tbody>
    </table>

    <table id="vlan" class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th scope="col">Ports</th>
            </tr>
        </thead>
        <tbody>
                {% for i in range(0,(vlan["vlans"]| length)) %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ vlan["vlans"][i]["vlan_id"] }}</td>
                <td>{{ vlan["vlans"][i]["vlan_description"] }}</td>
                <td>{{ vlan["vlans"][i]["vlan_ports"] | join(', ', attribute=1) }}</td>
            </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}


